body {
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
  overflow-y: unset;
}

//   FORM styling

.form-label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}
a {
  color: $primary;
  text-decoration: none;
  &:hover {
    color: $primary;
    text-decoration: underline;
  }
}
