.content-wrapper {
  min-height: 100vh;
  width: 100vw;
  &.content {
    display: flex;
  }
  .main-content {
    padding: 24px;
    width: calc(100% - 250px);
    background-color: #fdfdfd;
    .header-info {
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $background;
      border-radius: 8px;
      box-shadow: 0px 2px 4px rgba(38, 54, 153, 0.06);
      margin-bottom: 24px;
    }
    .resume-block {
      width: 75%;
      margin: 0 auto;
    }
    .animation {
      width: 75%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .loading-ani {
        height: 58vh;
        margin-bottom: 32px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      button {
        width: fit-content;
      }
    }
  }
}
.upload {
  background-color: $primary;
  padding-bottom: 86px;
  height: 100vh;
  .container {
    height: 100%;
  }
}
.upload-container {
  background-color: $secondary;
  padding: 40px;
  border-radius: 16px;
  position: relative;
  height: calc(100% - 300px);
  margin-bottom: 86px;
  min-height: 309px;
  .jd {
    width: 46%;
    h2,
    p,
    label {
      color: $background;
    }
  }
  .uploader {
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;
    border-radius: 16px;
    background-color: $background;
    &-wrapper {
      height: 100%;
      border-radius: 8px;
      border: 1.5px dashed $primary-dark;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        margin-bottom: 14px;
      }
    }
  }
}
.proceed {
  padding: 24px 0;
  background-color: $primary-light2;
  position: absolute;
  width: 100%;
  bottom: 0;
}
