.content-wrapper {
  min-height: 100vh;
  width: 100vw;
}
.upload {
  background-color: $primary;
  padding-bottom: 86px;
  height: 100vh;
  .container {
    height: 100%;
  }
}
.upload-container {
  background-color: $secondary;
  padding: 40px;
  border-radius: 16px;
  position: relative;
  height: calc(100% - 300px);
  margin-bottom: 86px;
  min-height: 309px;
  .jd {
    width: 46%;
    h2,
    p,
    label {
      color: $background;
    }
  }
  .uploader {
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;
    border-radius: 16px;
    background-color: $background;
    &-wrapper {
      height: 100%;
      border-radius: 8px;
      border: 1.5px dashed $primary-dark;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        margin-bottom: 14px;
      }
    }
  }
}
.proceed {
  padding: 24px 0;
  background-color: $primary-light2;
  position: absolute;
  width: 100%;
  bottom: 0;
}
