@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

//primary colors//

$primary: #8c1759;
$primary-dark1: #31081f;
$primary-light1: #c11f7b;
$primary-light2: #f1dde9;

//secondary colors//
$secondary: #4381c1;
$secondary-dark1: #f0f5fa;
$secondary-light1: #85add6;
$secondary-light2: #f0f5fa;

//Neutral colors//
$neutral: #17181a;
$neutral-dark1: #666e80;
$neutral-light1: #98a1b3;
$neutral-light2: #e1e2e6;
$neutral-light3: #f7f8fa;
$neutral-light4: #ffffff;

//Notification colors//
$success: #07d95a;
$success-light1: #9cf0bd;
$danger: #f8183e;
$danger-light1: #fca3b2;
